.list-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.list-container {
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
    border-style: solid;
    border-color: black;
    border-width: 1px 0;
}

.search-list {
    width: 80%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 16px;
    margin-bottom: 20px;
}