@import "about.css";
@import "contact.css";
@import "contact-list.css";
@import "home.css";
@import "login.css";
@import "register.css";
@import "successful-action.css";

body {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 5px 10px #c0c0c0;
}

.header-box {
    display: flex;
    align-items: center;
}

.no-underline {
    text-decoration: none;
    color: black;
}

#userId {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

#login-button {
    margin-right: 20px;
}

.main-wrapper {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 80%;
    background-color: #f6f6f6;
    padding: 10px 20px;
    margin-top: 20px;
    box-shadow: 2px 5px 10px #c0c0c0;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: ease-in-out 100ms;
}

.delete-btn {
    background-color: #c01818;
    color: white;
    border-color: #c01818;
}

.delete-btn:hover {
    background-color: white;
    color: #c01818;
}

.download-btn {
    background-color: seagreen;
    color: white;
    border-color: seagreen;
}

.download-btn:hover {
    background-color: white;
    color: seagreen;
}