<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Information</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/contact-form.css">
</head>
<body>
<form method="post" id="contact-form" action="http://localhost:3000/contact">
    <label for="first-name">Firstname:</label>
    <input type="text" placeholder="First Name" name="firstname" id="first-name" class="form-inputs" required>

    <label for="last-name">Lastname:</label>
    <input type="text" placeholder="Last Name" name="lastname" id="last-name" class="form-inputs" required>

    <label for="email">Email:</label>
    <input type="email" placeholder="Email" name="email" id="email" class="form-inputs" required>

    <label for="subject">Subject:</label>
    <input type="text" placeholder="Subject" name="subject" id="subject" class="form-inputs" required>

    <label for="message-area">Message:</label>
    <textarea placeholder="Write a message..." name="message" id="message-area" class="form-inputs" required></textarea>

    <button type="submit" id="submit-button">Submit</button>
</form>
<a href="/home">Home</a>
<script src="../assets/js/contact-form.js"></script>
</body>
</html>